.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cart {
  display: none;
}
.home {
  text-align: center;
  font-family: Helvetica,Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: white;
  margin: 0;
  padding: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homebody{
  max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
  color: #333;
  text-align: center;
}
@keyframes myAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

p {
  color: #666;
  animation-name: myAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}
.button {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}
